{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'webproa/css/novedades.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'webproa/foto/logo-proa.png' %}" class="logoproa" alt="ProA">
        <a class="titulo">ProA CAPITAL NORTE</a>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'votaciones' %}">Votaciones</a></li>
                <li><a href="{% url 'contactos' %}">Contactos</a></li>
                <li><a href="{% url 'informacion' %}">Nosotros</a></li>
                
                {% if user.is_authenticated %}
                    <!-- Usuario logueado -->
                    <li><a href="{% url 'perfil' %}">Mi Perfil</a></li>
                {% else %}
                    <!-- Usuario no logueado -->
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>

                    <li  class="sign_up">
                        <a href="{% url 'registro' %}">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
       </nav> 
   </header>








































   <script type="text/javascript">
        window.addEventListener("scroll", function() {
            var header = document.querySelector("header");
            header.classList.toggle("abajo", window.scrollY > 0);
        });
    </script>
</body>
</html>