/* Fondo degradado igual al registro */
body {
    background: linear-gradient(135deg, #5671b1 , #002c85 );
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
}


.register-box {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 420px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* Icono circular arriba */
.register-box .icon {
    background: #1e3c72;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.register-box .icon i {
    font-size: 35px;
    color: white;
}

/* Inputs */
.register-box input, 
.register-box select {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.register-box input::placeholder {
    color: #ddd;
}

.register-box label {
    font-weight: bold;
    color: #fff;
}

/* Botones */
.btn-custom {
    background: #1e3c72;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    transition: 0.3s;
    text-decoration: none;
    display: block;
}

.btn-custom:hover {
    background: #172d57;
    color: #fff;
}

/* Alertas adaptadas al fondo */
.alert {
    border-radius: 10px;
    text-align: left;
}

/* Texto pequeño */
small {
    font-size: 13px;
    color: #ddd;
}


.btn-outline-light {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    display: block;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #ffffff;
}
